@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400');

h1{
    color: rgb(242, 149, 141);
    font-family: open sans, sans serif;
}

h2{
    color: rgb(104, 192, 177);
    font-family: open sans, sans serif;
}

p{
    color: grey;
    font-family: open sans;
}

li{
    color: grey;
    font-family: open sans;
}
strong{
    text-decoration: underline;
}

ol{
    list-style-type: upper-roman;
}

.interesses{
     color:rgb(232, 189, 245)
}

a{
    text-decoration: none;
    color: rgb(164, 238, 222)
}

a:hover{
    color: rgb(5, 4, 4);
    font-weight: bold;
}

a:visited{
         color: rgb(75, 73, 73);
         font-weight: bold;
}

.test1{
       background-color: rgb(236, 231, 231);
       padding-left: 10px;
       padding-right: 300px;
       padding-top: 3px;
       padding-bottom: 3px;

       border: 1px solid black;
       width: 300px;
       margin: 40px 40px 40px 0px;
}
